<link
rel="icon"
type="image/png"
sizes="32x32"
href="/assets/favicon-32x32.png"
/>
<link
href="https://fonts.googleapis.com/css2?family=Public+Sans&family=Roboto:wght@300;400&display=swap"
rel="stylesheet"
/>
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<!-- Bootstrap CSS -->
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
crossorigin="anonymous"
/>

<!-- Custom CSS -->
<link rel="stylesheet" href="/styles/index.css" />
<link rel="stylesheet" href="styles/about.css">
<link rel="stylesheet" href="/styles/translate.css">

<title>ProGrow | About Us</title>
    
  </head>

  <body>
  <header >
    <%- include('includes/nav.ejs') %>
  </header>
  <main class="about-main">
    <div class="container">
      <div>
        <h1><small>Connecting farmers to technology</small></h1>
      </div>
      <div class="about-content-container">
        <div class="about-item">
          <div class="about-title">
            <h3>Our Vision</h3>
          </div>
          <div class="about-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consectetur reprehenderit nulla ab asperiores deleniti, id quibusdam. Cumque dolores, eius labore quasi atque sint vitae illum qui, laborum natus velit!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-img-container">
      <img class="about-img" alt="about image" src="./assets/image-team-members.jpeg">
    </div>
    <div class="container">
     
      <div class="about-content-container">
        <div class="about-item">
          <div class="about-title">
            <h3>Details</h3>
          </div>
          <div class="about-description">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos aliquam reprehenderit accusantium quod, dolorem est odio officiis voluptatem repudiandae officia non inventore facilis ipsum architecto, saepe eum fugit quam beatae!</p>
          </div>
        </div>
        <div class="about-item">
          <div class="about-title">
            <h3>Company </h3>
          </div>
          <div class="about-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, cum accusantium nam deleniti dolorem delectus animi quam dolores deserunt, impedit</p>
          </div>
        </div>
        <div class="ready-to-start-container">
          <h2>Ready to start?</h2>
          <div class="row ctaRow">
            <div class="col-md">
              <a href="/farmers/signup"><button class="btn btn-secondary registerBtn">I am a Farmer</button></a>
            </div>
            <div class="col-md">
              <a href="/contractors/signup"><button class="schedule-button"> I am a Contractor</button></a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="js/index.js"></script>
  </body>

</html>