<!-- <html>
    <head></head>
    <body>
        <h1>Welcome to ProGrow</h1>
        <form action="/logout" method="POST">
            <button>Logout</button>
        </form>
        <a href="/contractors/dashboard/stock">Buy Product</a>
        <a href="/contractors/dashboard/land">Form Contract</a>
    </body>
</html> -->

<%- include('header') %>
<%- include('../includes/translate.ejs') %>

<!-- ======= About Section ======= -->
<section id="hero" class="d-flex align-items-center">
	<div class="container">
		<div class="row gy-4">
			<div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
				<h1>Get a better deal on Stock Products</h1>
				<h2>
					ProGrow is a versatile and Go-To online platform for all the Farmers and Contractors out there. We simplify
					the process of finding a buyer for your produced goods as well as finding farmers for any contract. We are on
					a mission to make the farming system more transparent and provide an easy interface for all your needs by
					making the farming services accessible to all and on-demand for every need.
				</h2>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img">
				<img src="/assets/client-farmer-illustration.png" class="img-fluid animated" alt="" />
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img">
				<!-- <img src="assets/img/hero-img.svg" class="img-fluid animated" alt="">-->
			</div>
		</div>
	</div>
</section>

<main id="main">
	<section id="about" class="about">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
					<img src="/assets/image2.png" class="img-fluid" alt="" data-aos="zoom-in" />
				</div>
				<div class="col-lg-6 pt-5 pt-lg-0">
					<h3 data-aos="fade-up">Our Journey</h3>
					<p data-aos="fade-up" data-aos-delay="100">
						Given the current farmer's problem, We have created a curated online platform that connects farmers to all
						the contractors. We are a one-stop platform for all types of farmers and contractors thereby curbing all
						the worries which are in the mind of every farmer.
						<br />Our motivation behind this idea was itself contract-based farming and it includes all the necessary
						features associated with it.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->
</main>

<%- include('footer') %>
